<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image2Text Converter</title>
</head>

<body>
    <h1>Converting Image to PDF and Then Extracting Text</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="image" id="image" accept="image/*">
        <button type="submit">Upload The File</button>
    </form>
    <div id="output"></div>

    <script src="../static/script.js"></script>
</body>

</html>